<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Profile</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/']" >Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                        <li class="breadcrumb-item">Profile</li>
                        <li class="breadcrumb-item">Change Password</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-6 col-12 mb-md-0 mb-2">
            <div class="row">
                <div class="col-12"></div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form class="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="password">Old Password</label>
                                        <input type="password" id="oldPassword" class="form-control"
                                            placeholder="Enter Old Password" name="oldPassword"
                                            [(ngModel)]="oldPassword" #OldPassword="ngModel">
                                        <!-- <span class="text-danger"
                                            *ngIf="(OldPassword.errors || OldPassword.invalid) && OldPassword.touched">*
                                            Old password can not be empty.
                                        </span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" id="password" class="form-control"
                                            placeholder="Enter New password" name="password" minlength="8"
                                            [(ngModel)]="newPassword" #NewPassword="ngModel">
                                        <!-- <span class="text-danger"
                                            *ngIf="(NewPassword.errors || NewPassword.errors.minlength || NewPassword.invalid) && NewPassword.touched">*
                                            New Password must be at least 8 characters long.
                                        </span> -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="confirm-password">Confirm Password</label>
                                        <input type="password" id="confirm-password" class="form-control"
                                            placeholder="Enter password" name="confirm-password" minlength="8"
                                            [(ngModel)]="confirmPassword" #ConfirmPassword="ngModel">
                                        <!-- <span class="text-danger"
                                            *ngIf="(OldPassword.errors || OldPassword.errors.minlength || OldPassword.invalid) && OldPassword.touched">*
                                            Confirm Password must be at least 8 characters long.
                                        </span> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions border-0 mt-0 text-right pt-1 pb-0">
                            <button type="submit" class="btn btn-primary w-25" (click)="updatePassword()">
                                <i class="fa fa-check-square-o mr-1"></i> Save Changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>