<body class="vertical-layout vertical-menu-modern 1-column blank-page blank-page" data-open="click"
    data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0 p-0">
                                    <div class="card-title text-center p-1">
                                        <img class="brand-logo" alt="stack admin logo"
                                            src="/assets/app-assets/images/logo/stack-logo-light.png">
                                        <h2 class="brand-text mb-0">
                                            <img class="brand-logo" alt="stack admin logo"
                                                src="/assets/app-assets/images/logo/stack-logo-text.png">
                                        </h2>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form-horizontal form-simple" action="index.html" novalidate>
                                            <fieldset class="form-group position-relative has-icon-left mb-1">
                                                <input type="email" class="form-control" placeholder="Email"
                                                    id="user-email" name="email" [(ngModel)]="email"
                                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                    #Email="ngModel" required (keyup.enter)="Login()">
                                                <!-- <span
                                                    *ngIf="(Email.errors && Email.errors['pattern'] || Email.invalid) ||  && Email.touched"
                                                    class="text-danger">
                                                    * Please enter a valid Email address.
                                                </span> -->
                                                <div class="form-control-position">
                                                    <i class="feather icon-user"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left mb-1">
                                                <input [type]="visible? 'text':'password'" class="form-control"
                                                    name="password" id="user-password" placeholder="Enter Password"
                                                    [(ngModel)]="password" required (keyup.enter)="Login()" required>
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                                <div *ngIf="password.length" class="formControlPositionIconRight"
                                                    (click)="visible = !visible">
                                                    <i *ngIf="visible" class="fa fa-eye"></i>
                                                    <i *ngIf="!visible" class="fa fa-eye-slash"></i>
                                                </div>
                                            </fieldset>
                                            <!-- [disabled]="(Email.errors && Email.errors['pattern'] || Email.invalid) || (!password)? true:false" -->
                                            <button type="submit" class="btn btn-primary btn-block mb-1"
                                                [disabled]="!email || !password" (click)="Login()"><i
                                                    class="feather icon-unlock"></i> Login</button>
                                            <div class="form-group row mt-1 mb-0">
                                                <div class="col-sm-6 col-12 text-center text-sm-left pr-0">
                                                    <!-- <a href="javascript:void(0)" [routerLink]="['/signup']" class="card-link">New Account ?</a> -->
                                                </div>
                                                <div class="col-sm-6 col-12 float-sm-left text-center text-sm-right">
                                                    <a href="javascript:void(0)" routerLink="/forgot-password"
                                                        class="card-link">Forgot Password</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->

</body>