<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title mb-0">Profile</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)" [routerLink]="['/']">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="content-header-right col-md-6 col-12 mb-md-0 mb-2">
            <div class="row">
                <div class="col-md-4 col-12"></div>
                <div class="col-md-4 col-12"></div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <form class="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput1">First Name</label>
                                        <input type="text" id="projectinput1" class="form-control" [(ngModel)]="updateProfile.firstName"
                                            placeholder="First Name" value="{{currentUser.firstName}}" name="fname">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput2">Last Name</label>
                                        <input type="text" id="projectinput2" class="form-control" [(ngModel)]="updateProfile.lastName"
                                            placeholder="Last Name" value="{{currentUser.lastName}}" name="lname">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput3">E-mail</label>
                                        <input type="text" id="projectinput3" class="form-control" placeholder="E-mail"
                                            value="{{currentUser.email}}" name="email" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="projectinput4">Role</label>
                                        <input type="text" id="projectinput4" class="form-control" placeholder="Phone"
                                            value="{{currentUser.role.title}}" name="phone" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions border-0 mt-0 text-right pt-1 pb-0">
                            <button type="submit" class="btn btn-primary w-25" (click)="editProfile()">
                                <i class="fa fa-check-square-o mr-1"></i> Save Changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>