input[type="search"]:focus-visible {
  outline: none;
}
ul.list-inline li {
  margin: 0 4px;
}

/*********************************************/
/* Add this CSS to your stylesheet */
.tags {
  margin: 10px;
}

.input-group {
  width: 100%;
}
