<body class="vertical-layout vertical-menu-modern 1-column blank-page blank-page" data-open="click"
    data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0 p-0">
                                    <div class="card-title text-center p-1">
                                        <img class="brand-logo" alt="stack admin logo"
                                            src="/assets/app-assets/images/logo/stack-logo-light.png">
                                        <h2 class="brand-text mb-0">
                                            <img class="brand-logo" alt="stack admin logo"
                                                src="/assets/app-assets/images/logo/stack-logo-text.png">
                                        </h2>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form-horizontal form-simple" action="index.html" novalidate>
                                            <fieldset class="form-group position-relative has-icon-left mb-1">
                                                <input [type]="visible? 'text' : 'password'" type="password" class="form-control" name="password"
                                                    id="user-password" placeholder="Enter Password" 
                                                    [(ngModel)]="password" required required>
                                                <div class="form-control-position">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                                <div class="formControlPositionIconRight" (click)="visible = !visible">
                                                    <i *ngIf="visible" class="fa fa-eye"></i>
                                                    <i *ngIf="!visible" class="fa fa-eye-slash"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left mb-1">
                                                <input [type]="visible? 'text' : 'password'" class="form-control" name="password"
                                                    id="user-password" placeholder="Enter Confirm Password" 
                                                    [(ngModel)]="confirmPassword" required required>
                                                <div class="form-control-position ">
                                                    <i class="fa fa-key"></i>
                                                </div>
                                                <div class="formControlPositionIconRight" (click)="visible = !visible">
                                                    <i *ngIf="visible" class="fa fa-eye"></i>
                                                    <i *ngIf="!visible" class="fa fa-eye-slash"></i>
                                                </div>
                                            </fieldset>
                                            <button type="submit" class="btn btn-primary btn-block mb-0" (click)="changePassword()"><i
                                                    class="feather icon-lock"></i> Change Password</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->
</body>